In [1]:
from binance.client import Client
from binance import ThreadedWebsocketManager
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')
api_key = 'haWzm6Ujj0SdpaCeCBiyyAvTvS78odvplgl4W9t29CVgSq5LrAHpt940JYQCt5TD'
secret_key = 'SgoyFqlJ6SvCYSXPFsU1ehPzQHhsfFV3Pa5scLF6y0stOO0aYXpfig6Fy4N0ePWX'
client = Client(api_key=api_key, api_secret=secret_key, tld='com')
account = client.get_account()

In [2]:
twm = ThreadedWebsocketManager()
twm.start()

In [3]:
df = pd.DataFrame(columns = ["Open","High","Low","Close","Volume","Complete"])
df

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Complete]
Index: []

In [4]:
def stream_candles(msg):
    ''' define how to process incoming WebSocket messages '''
    
    # extract the required items from msg
    event_time = pd.to_datetime(msg["E"], unit = "ms")
    start_time = pd.to_datetime(msg["k"]["t"], unit = "ms")
    first   = float(msg["k"]["o"])
    high    = float(msg["k"]["h"])
    low     = float(msg["k"]["l"])
    close   = float(msg["k"]["c"])
    volume  = float(msg["k"]["v"])
    complete=       msg["k"]["x"]
    
    # print out
    print("Time: {} | Price: {}".format(event_time, close))
    
    # feed df (add new bar / update latest bar)
    df.loc[start_time] = [first, high, low, close, volume, complete]

In [5]:
twm.start_kline_socket(callback=stream_candles,
                       symbol="BTCUSDT", interval="1m")

'btcusdt@kline_1m'

Time: 2022-09-12 16:02:40.220000 | Price: 22161.56
Time: 2022-09-12 16:02:42.251000 | Price: 22162.18
Time: 2022-09-12 16:02:44.261000 | Price: 22159.23
Time: 2022-09-12 16:02:46.297000 | Price: 22157.19
Time: 2022-09-12 16:02:48.302000 | Price: 22156.1
Time: 2022-09-12 16:02:50.310000 | Price: 22163.07
Time: 2022-09-12 16:02:52.312000 | Price: 22163.05
Time: 2022-09-12 16:02:54.352000 | Price: 22160.51
Time: 2022-09-12 16:02:56.415000 | Price: 22157.59
Time: 2022-09-12 16:02:58.419000 | Price: 22160.89
Time: 2022-09-12 16:03:00.003000 | Price: 22156.56
Time: 2022-09-12 16:03:02.016000 | Price: 22162.81
Time: 2022-09-12 16:03:04.021000 | Price: 22156.32
Time: 2022-09-12 16:03:06.046000 | Price: 22163.91
Time: 2022-09-12 16:03:08.049000 | Price: 22150.38
Time: 2022-09-12 16:03:10.053000 | Price: 22154.59
Time: 2022-09-12 16:03:12.063000 | Price: 22150.0
Time: 2022-09-12 16:03:14.087000 | Price: 22151.56
Time: 2022-09-12 16:03:16.091000 | Price: 22158.94
Time: 2022-09-12 16:03:18.102000 | Price: 22160.22
Time: 2022-09-12 16:03:20.113000 | Price: 22155.19
Time: 2022-09-12 16:03:22.149000 | Price: 22154.98
Time: 2022-09-12 16:03:24.246000 | Price: 22156.09
Time: 2022-09-12 16:03:26.247000 | Price: 22155.43
Time: 2022-09-12 16:03:28.258000 | Price: 22155.48
Time: 2022-09-12 16:03:30.305000 | Price: 22152.84
Time: 2022-09-12 16:03:32.317000 | Price: 22153.31
Time: 2022-09-12 16:03:34.393000 | Price: 22154.57
Time: 2022-09-12 16:03:36.536000 | Price: 22151.1
Time: 2022-09-12 16:03:38.553000 | Price: 22149.97
Time: 2022-09-12 16:03:40.558000 | Price: 22154.9
Time: 2022-09-12 16:03:42.562000 | Price: 22160.76
Time: 2022-09-12 16:03:44.567000 | Price: 22159.08
Time: 2022-09-12 16:03:46.569000 | Price: 22158.92
Time: 2022-09-12 16:03:48.573000 | Price: 22155.43
Time: 2022-09-12 16:03:50.581000 | Price: 22148.21
Time: 2022-09-12 16:03:52.597000 | Price: 22150.92
Time: 2022-09-12 16:03:54.653000 | Price: 22139.02
Time: 2022-09-12 16:03:56.656000 | Price: 22147.52
Time: 2022-09-12 16:03:58.657000 | Price: 22152.97
Time: 2022-09-12 16:04:00.003000 | Price: 22154.32
Time: 2022-09-12 16:04:02.004000 | Price: 22141.9
Time: 2022-09-12 16:04:04.018000 | Price: 22141.69
Time: 2022-09-12 16:04:06.019000 | Price: 22145.55
Time: 2022-09-12 16:04:08.067000 | Price: 22144.54
Time: 2022-09-12 16:04:10.069000 | Price: 22141.0
Time: 2022-09-12 16:04:12.078000 | Price: 22135.99
Time: 2022-09-12 16:04:14.087000 | Price: 22134.66
Time: 2022-09-12 16:04:16.119000 | Price: 22133.17
Time: 2022-09-12 16:04:18.136000 | Price: 22134.45
Time: 2022-09-12 16:04:20.140000 | Price: 22132.74
Time: 2022-09-12 16:04:22.146000 | Price: 22131.02
Time: 2022-09-12 16:04:24.153000 | Price: 22125.3
Time: 2022-09-12 16:04:26.172000 | Price: 22118.07
Time: 2022-09-12 16:04:28.176000 | Price: 22114.32
Time: 2022-09-12 16:04:30.203000 | Price: 22115.99
Time: 2022-09-12 16:04:32.211000 | Price: 22114.95
Time: 2022-09-12 16:04:34.283000 | Price: 22111.1
Time: 2022-09-12 16:04:36.286000 | Price: 22108.79
Time: 2022-09-12 16:04:38.287000 | Price: 22111.19
Time: 2022-09-12 16:04:40.307000 | Price: 22105.12
Time: 2022-09-12 16:04:42.309000 | Price: 22102.19
Time: 2022-09-12 16:04:44.319000 | Price: 22111.99
Time: 2022-09-12 16:04:46.366000 | Price: 22107.73
Time: 2022-09-12 16:04:48.366000 | Price: 22113.76
Time: 2022-09-12 16:04:50.478000 | Price: 22111.91
Time: 2022-09-12 16:04:52.485000 | Price: 22116.21
Time: 2022-09-12 16:04:54.489000 | Price: 22117.04
Time: 2022-09-12 16:04:56.490000 | Price: 22117.64

In [6]:
twm.stop()

Time: 2022-09-12 16:05:02.014000 | Price: 22121.46

In [7]:
df

,Open,High,Low,Close,Volume,Complete
2022-09-12 16:02:00,22194.20,22199.26,22155.20,22156.56,304.55353,True
2022-09-12 16:03:00,22157.41,22168.66,22138.57,22154.32,337.21359,True
2022-09-12 16:04:00,22151.66,22155.30,22099.34,22120.95,355.05525,True
2022-09-12 16:05:00,22120.95,22121.49,22113.75,22121.46,12.20708,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2022-09-12 16:02:00 to 2022-09-12 16:05:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      4 non-null      float64
 1   High      4 non-null      float64
 2   Low       4 non-null      float64
 3   Close     4 non-null      float64
 4   Volume    4 non-null      float64
 5   Complete  4 non-null      object
dtypes: float64(5), object(1)
memory usage: 224.0+ bytes